body{
  background:
  linear-gradient(217deg, rgba(255, 235, 171, 0.8), rgba(255,0,0,0) 70.71%),
  linear-gradient(127deg, rgba(165,165,230,.8), rgba(0,255,0,0) 70.71%),
  linear-gradient(336deg, rgba(195,240,240,.8), rgba(0,0,255,0) 70.71%);
}

.bigTitle {
  font-family: Pacifico;
  text-transform: capitalize;
  font-variant: small-caps;
  color: #f8f4e6;
  text-shadow: 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45, 0 0 2px #CB1B45;
}

.intro {
  font-family: Berkshire Swash;
  font-size: 32px;
}

.linkList {
  font-family: Mali;
  width: 50vw;
  height: 100vh;
  text-align: center;
}

.taskTitle {
  color: lightslategray;
}

/* Set task list color */

ul li {
  list-style: none;
}

ul li :visited {
  color: #494a41;
}

ul li :focus {
  color: #00a497;
}

ul li :hover {
  color: #c97586;
}

ul li :active {
  color: #2ca9e1;
}
