@charset "UTF-8";
@font-face {
  font-family: mifont;
  src: url("./mifont.woff");
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 1350px;
  background-color: #1f2022;
}

* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
  color: #b6b0a6;
}

.top-bar {
  background-color: #262a2b;
  height: 40px;
  color: #b6b0a6;
  font-size: 12px;
}
.top-bar .container {
  width: 1226px;
  margin: 0 auto;
  display: flow-root;
}
.top-bar .container ul {
  display: flex;
  flex-flow: row nowrap;
  height: 40px;
  margin: 0 auto;
}
.top-bar .container ul li:not(:last-of-type)::after {
  content: "  |  ";
}
.top-bar .container a {
  display: inline-block;
  margin: auto;
  height: 100%;
  line-height: 40px;
  color: #b6b0a6;
}
.top-bar .container a:hover {
  color: #e8e6e3;
}
.top-bar .container .site-links {
  float: left;
}
.top-bar .container .cart {
  float: right;
  width: 120px;
  height: 40px;
  text-align: center;
  background-color: #323638;
  position: relative;
}
.top-bar .container .cart a {
  margin: auto;
  line-height: 40px;
}
.top-bar .container .cart .cart-list {
  width: 316px;
  height: 0px;
  visibility: hidden;
  position: absolute;
  right: 0;
  background-color: #191a1c;
  z-index: 10;
  box-shadow: 1px 1px 10px #222222;
  color: transparent;
}
.top-bar .container .cart .cart-list span {
  line-height: 100px;
}
.top-bar .container .cart a:before {
  content: "\e60c";
  font-family: mifont;
  font-size: 1.5em;
  vertical-align: baseline;
}
.top-bar .container .cart:hover {
  background-color: #191a1c;
}
.top-bar .container .cart:hover .cart-list {
  height: 100px;
  visibility: visible;
  color: #e0e0e0;
  transition: height 0.2s, color 0s 0.5s;
}
.top-bar .container .cart:hover a {
  color: #fe6a00;
}
.top-bar .container .login {
  float: right;
  margin-right: 30px;
}

.top {
  background-color: #191a1c;
  width: calc(100% - 116px);
  height: 770px;
  padding: 0 0 0 116px;
}
.top .logo-index-search {
  height: 100px;
  width: 1226px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.top .logo-index-search .logo {
  width: 56px;
  height: 56px;
  background-image: url(./logo-mi2.png);
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
}
.top .logo-index-search .logo:active {
  width: 50px;
  height: 50px;
  background-size: 50px;
}
.top .logo-index-search .index {
  height: 100%;
}
.top .logo-index-search .index ul {
  color: #c8c3bc;
  display: inline-flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  height: 0;
}
.top .logo-index-search .index ul li {
  margin: 0 10px;
}
.top .logo-index-search .index ul li a:hover {
  color: #fe6a00;
}
.top .logo-index-search .index ul a {
  display: inline-block;
  margin: auto;
  height: 100%;
  line-height: 100px;
  color: #b6b0a6;
  font-size: 16px;
  transition: 0.2s;
}
.top .logo-index-search .index ul .index-submenu {
  background-color: #191a1c;
  box-sizing: border-box;
  border-top: 1px solid #707070;
  width: 100%;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s;
  padding: 0 calc(50% - 613px);
  z-index: 30;
  position: absolute;
  top: 140px;
  left: 0;
  display: flex;
  justify-content: flex-start;
}
.top .logo-index-search .index ul .index-submenu li {
  width: 204.3333333333px;
  height: 100%;
  position: relative;
}
.top .logo-index-search .index ul .index-submenu li a {
  line-height: 20px;
  display: block;
  width: 100%;
  height: 100%;
}
.top .logo-index-search .index ul .index-submenu li a img {
  display: block;
  width: 160px;
  margin: 40px auto 10px auto;
}
.top .logo-index-search .index ul .index-submenu li a .title {
  width: 100%;
  font-size: 12px;
  text-align: center;
}
.top .logo-index-search .index ul .index-submenu li a .price {
  width: 100%;
  font-size: 12px;
  color: #fe6a00;
  text-align: center;
  margin: 0;
}
.top .logo-index-search .index ul .index-submenu li:not(:last-of-type):after {
  position: absolute;
  content: "";
  top: 50px;
  right: 0;
  width: 0.5px;
  height: 100px;
  background-image: initial;
  background-color: #505050;
}
.top .logo-index-search .index ul:hover .index-submenu {
  height: 230px;
  visibility: visible;
  transition: 0.2s;
}
.top .logo-index-search .index ul li:hover .index-submenu {
  z-index: 40;
}
.top .logo-index-search .search {
  padding: 0;
  width: 297px;
  height: 50px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
}
.top .logo-index-search .search input {
  box-sizing: border-box;
  padding: 0 5px;
  width: 245px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #505050;
  margin-right: -1px;
  caret-color: #e0e0e0;
  outline: none;
}
.top .logo-index-search .search input:nth-of-type(2) {
  box-sizing: border-box;
  font-family: mifont;
  color: #e0e0e0;
  font-size: 1.2em;
  width: 52px;
  height: 50px;
}
.top .logo-index-search .search input:first-of-type:hover {
  transition: 0.2s;
  border: 1px solid #707070;
}
.top .logo-index-search .search input:hover + input {
  transition: 0.2s;
  border: 1px solid #707070;
}
.top .logo-index-search .search input:first-of-type:focus {
  transition: 0.2s;
  border: 1px solid #fe6a00;
}
.top .logo-index-search .search input:focus + input {
  transition: 0.2s;
  border: 1px solid #fe6a00;
}
.top .logo-index-search .search input:last-of-type:hover {
  transition: 0.2s;
  border: 1px solid #fe6a00;
  background-color: #fe6a00;
}
.top .slide-show {
  width: 1226px;
  height: 460px;
  position: relative;
}
.top .slide-show input[type=radio] {
  display: none;
}
.top .slide-show .slide-img {
  z-index: 0;
}
.top .slide-show .slide-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.top .slide-show input:nth-of-type(1):checked ~ .slide-img img:nth-of-type(1),
.top .slide-show input:nth-of-type(2):checked ~ .slide-img img:nth-of-type(2),
.top .slide-show input:nth-of-type(3):checked ~ .slide-img img:nth-of-type(3),
.top .slide-show input:nth-of-type(4):checked ~ .slide-img img:nth-of-type(4),
.top .slide-show input:nth-of-type(5):checked ~ .slide-img img:nth-of-type(5) {
  opacity: 1;
}
.top .slide-show .selector {
  position: absolute;
  height: 20px;
  color: wheat;
  z-index: 10;
  bottom: 30px;
  right: 30px;
}
.top .slide-show .selector label {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(17, 17, 17, 0.0666666667);
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #A4A7AA;
}
.top .slide-show .category {
  position: absolute;
  width: 234px;
  height: 100%;
  background-color: rgba(112, 112, 112, 0.2);
}
.top .slide-show .category > ul {
  padding: 20px 0;
  list-style-type: none;
  color: #e8e6e3;
  display: flex;
  flex-flow: column nowrap;
}
.top .slide-show .category > ul > li {
  font-size: 14px;
  flex: 1 0 42px;
  padding: 0 0 0 30px;
  line-height: 42px;
  position: relative;
}
.top .slide-show .category > ul > li span {
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.top .slide-show .category > ul > li span::before {
  content: "\e623";
  font-family: mifont;
}
.top .slide-show .category > ul > li .products {
  width: 992px;
  height: 460px;
  background-color: #191a1c;
  position: absolute;
  left: 234px;
  top: -20px;
  visibility: hidden;
  z-index: 20;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 1px 1px 10px #222222;
  border: 1px solid #505050;
  box-sizing: border-box;
}
.top .slide-show .category > ul > li .products li {
  flex: 0 0 76.33333333px;
  width: 248px;
  cursor: pointer;
}
.top .slide-show .category > ul > li .products li img {
  width: 40px;
  float: left;
  margin: 15px;
}
.top .slide-show .category > ul > li .products li:hover a {
  color: #fe6a00;
}
.top .slide-show .category > ul > li .products li a {
  font-size: 14px;
  color: #c8c3bc;
  line-height: 76.33333333px;
}
.top .slide-show .category > ul > li .products li a:hover {
  color: #fe6a00;
}
.top .slide-show .category > ul > li .tv {
  top: -62px;
}
.top .slide-show .category > ul > li .laptop {
  top: -104px;
}
.top .slide-show .category > ul > li:hover {
  background-color: #fe6a00;
}
.top .slide-show .category > ul > li:hover > .products {
  visibility: visible;
}

.sub-row {
  width: 1226px;
  height: 170px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 14px;
  justify-content: space-between;
}
.sub-row .channel-list {
  background-color: #42474a;
  width: 234px;
  height: 100%;
}
.sub-row .channel-list ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.sub-row .channel-list ul li {
  height: 82px;
  flex: 0 0 76px;
  display: flex;
  flex-flow: column nowrap;
  opacity: 0.6;
  position: relative;
  cursor: pointer;
}
.sub-row .channel-list ul li img {
  width: 24px;
  margin: 18px auto 4px auto;
}
.sub-row .channel-list ul li a {
  font-size: 12px;
  color: #e8e6e3;
  text-align: center;
}
.sub-row .channel-list ul li:hover {
  opacity: 1;
}
.sub-row .channel-list ul li::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 6px;
  width: 64px;
  height: 1px;
  background-image: initial;
  background-color: #505050;
}
.sub-row .channel-list ul li::after {
  position: absolute;
  content: "";
  top: 6px;
  left: 0;
  width: 1px;
  height: 70px;
  background-image: initial;
  background-color: #505050;
}

.fixed {
  width: 84px;
  height: 455px;
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  color: #9e9689;
}
.fixed .fixed-icons:last-of-type {
  margin: 14px 0 0;
  border: 1px solid #505050;
}
.fixed .fixed-icons:not(:last-of-type) {
  border: 1px solid #505050;
  border-bottom: none;
}
.fixed .fixed-icons:nth-of-type(5) {
  border-bottom: 1px solid #505050;
}
.fixed .fixed-icons {
  box-sizing: border-box;
  height: 91px;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.fixed .fixed-icons img {
  width: 30px;
}
.fixed .fixed-icons:first-of-type:hover img {
  content: url(https://i8.mifile.cn/b2c-mimall-media/74c4fcb4475af8308e9a670db9c01fdf.png);
}
.fixed .fixed-icons:nth-of-type(2):hover img {
  content: url(https://i8.mifile.cn/b2c-mimall-media/41f858550f42eb1770b97faf219ae215.png);
}
.fixed .fixed-icons:nth-of-type(3):hover img {
  content: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/95fbf0081a06eec7be4d35e277faeca0.png);
}
.fixed .fixed-icons:nth-of-type(4):hover img {
  content: url(https://i8.mifile.cn/b2c-mimall-media/5e9f2b1b0da09ac3b3961378284ef2d4.png);
}
.fixed .fixed-icons:nth-of-type(5):hover img {
  content: url(https://i8.mifile.cn/b2c-mimall-media/692a6c3b0a93a24f74a29c0f9d68ec71.png);
}
.fixed .fixed-icons:last-of-type:hover img {
  content: url(https://i1.mifile.cn/f/i/2018/home/totop_hover.png);
}
.fixed .fixed-icons:hover span {
  color: #fe6a00;
}

.main {
  width: 1226px;
  padding: 0 116px;
  background-color: #1f2022;
  display: flex;
  flex-flow: column nowrap;
}
.main img {
  margin: 22px 0;
}
.main .main-blocks {
  width: 1226px;
  height: 686px;
  margin-bottom: 8px;
}
.main .main-blocks .box-title {
  width: 100%;
  height: 58px;
  color: #c8c3bc;
  display: flex;
  flex-flow: row nowrap;
}
.main .main-blocks .box-title h2 {
  display: block;
  font-size: 22px;
  font-weight: normal;
  flex: 1 0 auto;
  margin: 0;
  line-height: 58px;
}
.main .main-blocks .box-title > .more {
  line-height: 58px;
  font-size: 16px;
}
.main .main-blocks .box-title > .more .icon {
  width: 12px;
  height: 12px;
  padding: 3px 4px;
  margin-left: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
  background: #303030;
  vertical-align: 1px;
  transition: all 0.4s;
}
.main .main-blocks .box-title > .more .icon::after {
  font-family: mifont;
  content: "\e623";
  font-style: normal;
}
.main .main-blocks .box-title > .more:hover {
  color: #fe6a00;
}
.main .main-blocks .box-title .tab {
  width: 124px;
  height: 42px;
  position: relative;
}
.main .main-blocks .box-title .tab > .tab-ul {
  height: 0;
}
.main .main-blocks .box-title .tab > .tab-ul > li {
  position: absolute;
  top: 16px;
  width: auto;
  height: 26px;
  font-size: 16px;
  color: #c8c3bc;
  padding-bottom: 1px;
  cursor: pointer;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab {
  width: 978px;
  height: 614px;
  position: absolute;
  top: 42px;
  right: -62px;
  z-index: 50;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul {
  width: 978px;
  height: 614px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li {
  width: 234px;
  height: 300px;
  background-color: #191a1c;
  position: relative;
  top: 0;
  transition: 0.5s;
  flex: 0 0 auto;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a {
  padding: 20px 0;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a img {
  width: 160px;
  margin: 20px 37px 15px 37px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a p {
  text-align: center;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a .desc {
  font-size: 12px;
  margin: 5px auto;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li a .price {
  font-size: 14px;
  color: #fe6a00;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul li:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more {
  height: 143px;
  position: relative;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a {
  display: block;
  padding: 55px 0px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a div {
  width: 94px;
  height: 40px;
  margin: 0px 110px 0px 30px;
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a div span {
  display: block;
  font-size: 12px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a i {
  width: 48px;
  height: 48px;
  display: block;
  font-size: 48px;
  line-height: 48px;
  color: #fe6a00;
  position: absolute;
  right: 35px;
  bottom: 47px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a .icon::after {
  content: "\e615";
  font-family: mifont;
  font-style: normal;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.first-tab ul > .more a img {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 20px;
  bottom: 31px;
  margin: 0;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab {
  width: 978px;
  height: 614px;
  position: absolute;
  top: 42px;
  right: 0px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul {
  background-color: #1f2022;
  width: 978px;
  height: 614px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li {
  width: 234px;
  height: 300px;
  margin: 0 14px 14px 0;
  background-color: #191a1c;
  position: relative;
  top: 0;
  transition: 0.5s;
  flex: 0 0 auto;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a {
  padding: 20px 0;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a > img {
  width: 160px;
  margin: 20px 37px 15px 37px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a p {
  text-align: center;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a .desc {
  font-size: 12px;
  margin: 5px auto;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li a .price {
  font-size: 14px;
  color: #fe6a00;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul li:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more {
  height: 143px;
  position: relative;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more a {
  display: block;
  padding: 55px 0px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more a div {
  width: 94px;
  height: 40px;
  margin: 0px 110px 0px 30px;
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more a div span {
  display: block;
  font-size: 12px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more a i {
  width: 48px;
  height: 48px;
  display: block;
  font-size: 48px;
  line-height: 48px;
  color: #fe6a00;
  position: absolute;
  right: 35px;
  bottom: 47px;
}
.main .main-blocks .box-title .tab > .tab-ul > li .cards.inside-tabs.rest-tab ul > .more a .icon::after {
  content: "\e615";
  font-family: mifont;
  font-style: normal;
}
.main .main-blocks .box-title .tab > .tab-ul > li:last-of-type {
  right: 0;
}
.main .main-blocks .box-title .tab > .tab-ul > li:nth-last-of-type(2) {
  right: 62px;
}
.main .main-blocks .box-title .tab > .tab-ul > li:nth-last-of-type(3) {
  right: 92px;
}
.main .main-blocks .box-title .tab > .tab-ul > li:nth-last-of-type(4) {
  right: 122px;
}
.main .main-blocks .box-title .tab > .tab-ul > li:first-of-type {
  color: #fe6a00;
  border-bottom: 2px solid;
}
.main .main-blocks .card-box {
  width: 100%;
  height: 628px;
  position: relative;
}
.main .main-blocks .card-box .side-img {
  width: 234px;
  height: 614px;
  position: absolute;
  top: 0;
  transition: 0.5s;
}
.main .main-blocks .card-box .side-img img {
  width: 100%;
  height: 100%;
  margin: 0;
}
.main .main-blocks .card-box .side-img:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}
.main .main-blocks .card-box .cards {
  width: 978px;
  height: 614px;
  position: absolute;
  right: 0;
}
.main .main-blocks .card-box .cards ul {
  width: 978px;
  height: 614px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
}
.main .main-blocks .card-box .cards ul li {
  width: 234px;
  height: 300px;
  background-color: #191a1c;
  position: relative;
  top: 0;
  transition: 0.5s;
  flex: 0 0 auto;
}
.main .main-blocks .card-box .cards ul li a {
  padding: 20px 0;
}
.main .main-blocks .card-box .cards ul li a img {
  width: 160px;
  margin: 20px 37px 15px 37px;
}
.main .main-blocks .card-box .cards ul li a h3 {
  font-size: 14px;
  margin: 0;
  text-align: center;
}
.main .main-blocks .card-box .cards ul li a p {
  text-align: center;
}
.main .main-blocks .card-box .cards ul li a .desc {
  font-size: 12px;
  margin: 5px auto;
}
.main .main-blocks .card-box .cards ul li a .price {
  font-size: 14px;
  color: #fe6a00;
}
.main .main-blocks .card-box .cards ul li:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}
.main .main-blocks .card-box .cards ul .more {
  height: 143px;
  position: relative;
}
.main .main-blocks .card-box .cards ul .more a {
  display: block;
  padding: 55px 0px;
}
.main .main-blocks .card-box .cards ul .more a div {
  width: 94px;
  height: 40px;
  margin: 0px 110px 0px 30px;
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.main .main-blocks .card-box .cards ul .more a div span {
  display: block;
  font-size: 12px;
}
.main .main-blocks .card-box .cards ul .more a i {
  width: 48px;
  height: 48px;
  display: block;
  font-size: 48px;
  line-height: 48px;
  color: #fe6a00;
  position: absolute;
  right: 35px;
  bottom: 47px;
}
.main .main-blocks .card-box .cards ul .more a .icon::after {
  content: "\e615";
  font-family: mifont;
  font-style: normal;
}
.main .main-blocks .card-box.without-tabs {
  width: 234px;
}
.main .main-blocks .video-list {
  width: 1226px;
  height: 285px;
}
.main .main-blocks .video-list .video-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.main .main-blocks .video-list .video-box li {
  position: relative;
  top: 0;
  width: 296px;
  background-color: #191a1c;
}
.main .main-blocks .video-list .video-box li a {
  position: relative;
}
.main .main-blocks .video-list .video-box li a img {
  width: 100%;
  margin: 0 0 28px;
}
.main .main-blocks .video-list .video-box li a img:hover + .iconfont {
  background-color: #fe6a00;
  transition: 0.2s;
}
.main .main-blocks .video-list .video-box li a .iconfont {
  font-family: mifont;
  font-style: normal;
  font-size: 30px;
  line-height: 20px;
  position: absolute;
  left: 20px;
  top: -50px;
  border: 2px solid #fff;
  border-radius: 12px;
  border-color: rgb(48, 52, 54);
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(232, 230, 227);
}
.main .main-blocks .video-list .video-box li a .iconfont::after {
  content: "\e601";
}
.main .main-blocks .video-list .video-box li a h3 {
  font-size: 14px;
  margin: 0 14px 6px;
  text-align: center;
  font-style: normal;
}
.main .main-blocks .video-list .video-box li:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}

.main .main-blocks .box-title .tab > .tab-ul > li {
  border-bottom: 2px solid;
  transition: 0s 9999999s;
}

.main .main-blocks .box-title .tab > .tab-ul > li > .cards.inside-tabs {
  transition: 0s 9999999s;
  visibility: hidden;
}

.main .main-blocks .box-title .tab > .tab-ul > li > .cards.inside-tabs.first-tab {
  visibility: visible;
}

.main .main-blocks .box-title .tab > .tab-ul:hover > li {
  border-bottom: none;
  transition: none;
}

.main .main-blocks .box-title .tab > .tab-ul:hover > li > .cards.inside-tabs {
  visibility: hidden;
  transition: none;
}

.main .main-blocks .box-title .tab > .tab-ul > li:hover > .cards.inside-tabs {
  visibility: visible;
  transition: none;
}

.main .main-blocks .box-title .tab > .tab-ul > li:hover {
  color: #fe6a00;
  border-bottom: 2px solid;
  transition: none;
}

.main .main-blocks:nth-of-type(3) .tab-ul > li:last-of-type {
  display: none;
}

.main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs {
  height: 614px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
.main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-up, .main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-down {
  width: 234px;
  height: 300px;
  flex: 0 0 auto;
  position: relative;
  top: 0;
}
.main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-up img, .main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-down img {
  margin: 0;
  width: 100%;
  height: 100%;
}
.main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-up:hover, .main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs .side-img-down:hover {
  top: -5px;
  box-shadow: 0px 0px 10px #505050;
  transition: 0.5s;
}

.main .main-blocks .box-title .tab > .tab-ul > li > .cards.inside-tabs.full-box > ul {
  flex-flow: column wrap;
}/*# sourceMappingURL=index.css.map */