$mi-orange: #fe6a00;
$top-bar-bgc: #262a2b;
$top-bgc: #191a1c;
$main-bgc: #1f2022;
$page-width: 1226px;
$bd: 2px solid white;

@font-face {
  font-family: mifont;
  src: url('./mifont.woff');
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  min-width: 1350px;
  background-color: $main-bgc;
}

* ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* a {
  text-decoration: none;
  color: #b6b0a6;
}

.top-bar {
  background-color: $top-bar-bgc;
  height: 40px;
  color: #b6b0a6;
  font-size: 12px;
  .container {
    width: $page-width;
    margin: 0 auto;
    display: flow-root;
    ul {
      display: flex;
      flex-flow: row nowrap;
      height: 40px;
      margin: 0 auto;
      li:not(:last-of-type)::after {
        content: '\00A0\00A0|\00A0\00A0';
      }
    }
    a {
      display: inline-block;
      margin: auto;
      height: 100%;
      line-height: 40px;
      color: #b6b0a6;
    }
    a:hover {
      color: #e8e6e3;
    }
    .site-links {
      float: left;
    }
    .cart {
      float: right;
      width: 120px;
      height: 40px;
      text-align:center;
      background-color: #323638;
      position: relative;
      a {
        margin: auto;
        line-height: 40px;
      }
      .cart-list {
        width: 316px;
        height: 0px;
        visibility: hidden;
        position: absolute;
        right: 0;
        background-color: #191a1c;
        z-index: 10;
        box-shadow: 1px 1px 10px #222222;
        color: transparent;
        span {
          line-height: 100px;
        }
      }
    }
    .cart a:before {
      content: "\E60C";
      font-family: mifont;
      font-size: 1.5em;
      vertical-align: baseline;
    }
    .cart:hover {
      background-color: $top-bgc;
      .cart-list {
        height: 100px;
        visibility:visible;
        color: #e0e0e0;
        transition: height 0.2s, color 0s 0.5s;
      }
    }
    .cart:hover a{
      color: $mi-orange;
    }
    .login {
      float: right;
      margin-right: 30px;
    }
  }
}

.top {
  background-color: $top-bgc;
  width: calc(100% - 116px);
  height: 770px;
  padding: 0 0 0 116px;
  .logo-index-search {
    height: 100px;
    width: $page-width;
    // position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    .logo {
      width: 56px;
      height: 56px;
      background-image: url(./logo-mi2.png);
      background-size: contain;
      background-repeat: no-repeat;
      float: left;
      cursor: pointer;
      &:active {
        width: 50px;
        height: 50px;
        background-size: 50px;
      }
    }
    .index {
      height: 100%;
      ul {
        color: #c8c3bc;
        display: inline-flex;
        flex-flow: row nowrap;
        margin: 0 auto;
        height: 0;
        // height set to 0, thus user cannot hover the space between li.
        li {
          margin: 0 10px;
          a:hover {
            color: $mi-orange;
          }
        }
        a {
          display: inline-block;
          margin: auto;
          height: 100%;
          line-height: 100px;
          color: #b6b0a6;
          font-size: 16px;
          transition: 0.2s;
        }
        .index-submenu {
          background-color: $top-bgc ;
          box-sizing: border-box;
          border-top: 1px solid #707070;
          width: 100%;
          height: 0px;
          overflow: hidden;
          visibility: hidden;
          transition: 0.2s;
          padding: 0 calc(50% - 613px);
          z-index: 30;
          position: absolute;
          top: 140px;
          left: 0;
          display: flex;
          justify-content: flex-start;
          li {
            width: calc(1226px / 6);
            height: 100%;
            position: relative;
            a {
              line-height: 20px;
              display: block;
              width: 100%;
              height: 100%;
              img {
                display: block;
                width: 160px;
                margin: 40px auto 10px auto;
              }
              .title {
                width: 100%;
                font-size: 12px;
                text-align: center;
              }
              .price {
                width: 100%;
                font-size: 12px;
                color: $mi-orange;
                text-align: center;
                margin: 0;
              }
            }
          }
          li:not(:last-of-type):after {
            position: absolute;
            content: "";
            top: 50px;
            right: 0;
            width: 0.5px;
            height: 100px;
            background-image: initial;
            background-color: #505050;
          }
        }
        &:hover .index-submenu {
          height: 230px;
          visibility: visible;
          transition: 0.2s;
        }
        & li:hover .index-submenu {
          z-index: 40;
        }
      }
    }
    .search {
      padding: 0;
      width: 297px;
      height: 50px;
      margin: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: end;
      input {
        box-sizing: border-box;
        padding: 0 5px;
        width: 245px;
        height: 50px;
        background-color:transparent;
        border: 1px solid #505050;
        margin-right: -1px;
        caret-color:#e0e0e0;
        outline:none;
      }
      input:nth-of-type(2) {
        box-sizing: border-box;
        font-family: mifont;
        color: #e0e0e0;
        font-size: 1.2em;
        width: 52px;
        height: 50px;
      }
      input:first-of-type:hover {
        transition: 0.2s;
        border: 1px solid #707070;
      }
      input:hover + input{
        transition: 0.2s;
        border: 1px solid #707070;
      }
      input:first-of-type:focus {
        transition: 0.2s;
        border: 1px solid $mi-orange;
      }
      input:focus + input{
        transition: 0.2s;
        border: 1px solid $mi-orange;
      }
      input:last-of-type:hover{
        transition: 0.2s;
        border: 1px solid $mi-orange;
        background-color: $mi-orange;
      }
    }
  }
  .slide-show {
    width: $page-width;
    height: 460px;
    position: relative;
    input[type="radio"] {
      display: none;
    }
    .slide-img {
      z-index: 0;
    }
    .slide-img img {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.5s;
    }
    input:nth-of-type(1):checked ~ .slide-img img:nth-of-type(1),
    input:nth-of-type(2):checked ~ .slide-img img:nth-of-type(2),
    input:nth-of-type(3):checked ~ .slide-img img:nth-of-type(3),
    input:nth-of-type(4):checked ~ .slide-img img:nth-of-type(4),
    input:nth-of-type(5):checked ~ .slide-img img:nth-of-type(5) {
      opacity: 1;
    }
    .selector {
      position: absolute;
      height: 20px;
      color: wheat;
      z-index: 10;
      bottom: 30px;
      right: 30px;
      label {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #1111;
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #A4A7AA;

      }
    }
    .category {
      position: absolute;
      width: 234px;
      height: 100%;
      background-color: rgba($color: #707070, $alpha: 0.2);
      & > ul {
        padding: 20px 0;
        list-style-type: none;
        color: #e8e6e3;
        display: flex;
        flex-flow: column nowrap;
        & > li {
          font-size: 14px;
          flex: 1 0 42px;
          padding: 0 0 0 30px;
          line-height: 42px;
          position: relative;
          span {
            position: absolute;
            right: 20px;
            display: inline-block;
            width: 16px;
            height: 16px;
          }
          span::before {
            content: "\E623";
            font-family: mifont;
          }
          .products {
            width: 992px;
            height: 460px;
            background-color: $top-bgc;
            position: absolute;
            left: 234px;
            top: -20px;
            visibility: hidden;
            z-index: 20;
            display: flex;
            flex-flow: column wrap;
            box-shadow: 1px 1px 10px #222222;
            border: 1px solid #505050;
            box-sizing: border-box;
            li {
              flex: 0 0 76.33333333px;
              width: 248px;
              cursor: pointer;
              img {
                width: 40px;
                float: left;
                margin: 15px;
              }
              &:hover a {
                color: $mi-orange;
              }
              a {
                font-size: 14px;
                color: #c8c3bc;
                line-height: 76.33333333px;
              }
              a:hover {
                color: $mi-orange;
              }
            }
          }
          .tv {
            top: -62px;
          }
          .laptop {
            top: -104px;
          }
        }
        & > li:hover {
          background-color: $mi-orange;
        }
        & > li:hover > .products {
          visibility: visible;
        }
      }
    }
  }
}

.sub-row {
  width: $page-width;
  height: 170px;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 14px;
  justify-content: space-between;
  .channel-list {
    background-color: #42474a;
    width: 234px;
    height: 100%;
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      li {
        height: 82px;
        flex: 0 0 76px;
        display: flex;
        flex-flow: column nowrap;
        opacity: 0.6;
        position: relative;
        cursor: pointer;
        img {
          width: 24px;
          margin: 18px auto 4px auto;
        }
        a {
          font-size: 12px;
          color: #e8e6e3;
          text-align: center;
        }
      }
      li:hover {
        opacity: 1;
      }
      li::before {
        position: absolute;
        content: "";
        top: 3px;
        left: 6px;
        width: 64px;
        height: 1px;
        background-image: initial;
        background-color: #505050;
      }
      li::after {
        position: absolute;
        content: "";
        top: 6px;
        left: 0;
        width: 1px;
        height: 70px;
        background-image: initial;
        background-color: #505050;
      }
    }
  }
}

.fixed {
  border: 1px solid #505050;
  width: 84px;
  height: 455px;
  position: fixed;
  bottom: 70px;
  right: 0;
  z-index: 99;
  display: flex;
  flex-flow: column nowrap;
  color: #9e9689;
  .fixed-icons:not(:last-of-type) {
    border-bottom: 1px solid #505050;
  }
  .fixed-icons {
    box-sizing: border-box;
    height: 91px;
    font-size: 14px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 30px;
    }
  }
  .fixed-icons:first-of-type:hover img {
    content: url(https://i8.mifile.cn/b2c-mimall-media/74c4fcb4475af8308e9a670db9c01fdf.png);
  }
  .fixed-icons:nth-of-type(2):hover img {
    content: url(https://i8.mifile.cn/b2c-mimall-media/41f858550f42eb1770b97faf219ae215.png);
  }
  .fixed-icons:nth-of-type(3):hover img {
    content: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/95fbf0081a06eec7be4d35e277faeca0.png);
  }
  .fixed-icons:nth-of-type(4):hover img {
    content: url(https://i8.mifile.cn/b2c-mimall-media/5e9f2b1b0da09ac3b3961378284ef2d4.png);
  }
  .fixed-icons:last-of-type:hover img {
    content: url(https://i8.mifile.cn/b2c-mimall-media/692a6c3b0a93a24f74a29c0f9d68ec71.png);
  }
  .fixed-icons:first-of-type:hover span {
    color: $mi-orange;
  }
  .fixed-icons:nth-of-type(2):hover span {
    color: $mi-orange;
  }
  .fixed-icons:nth-of-type(3):hover span {
    color: $mi-orange;
  }
  .fixed-icons:nth-of-type(4):hover span {
    color: $mi-orange;
  }
  .fixed-icons:last-of-type:hover span {
    color: $mi-orange;
  }
}

.main {
  width: $page-width;
  // height: 7079px;
  padding: 0 116px;
  background-color: $main-bgc;
  display: flex;
  flex-flow: column nowrap;
  img {
    margin: 22px 0;
  }
  .main-blocks {
    width: $page-width;
    height: 686px;
    margin-bottom: 8px;
    .box-title {
      width: 100%;
      height: 58px;
      color: #c8c3bc;
      display: flex;
      flex-flow: row nowrap;
      h2 {
        display: block;
        font-size: 22px;
        font-weight: normal;
        flex: 1 0 auto;
        margin: 0;
        line-height: 58px;
      }
      > .more {
        line-height: 58px;
        font-size: 16px;
        .icon {
          width: 12px;
          height: 12px;
          padding: 3px 4px;
          margin-left: 8px;
          border-radius: 16px;
          font-size: 12px;
          line-height: 12px;
          background: #303030;
          vertical-align: 1px;
          transition: all .4s;
        }
        .icon::after {
          font-family: mifont;
          content: "\E623";
          font-style: normal;
        }
      }
      > .more:hover {
        color: $mi-orange;
      }
      .tab {
        width: 124px;
        height: 42px;
        position: relative;
        > .tab-ul {
          height: 0;
          li {
            position: absolute;
            top: 16px;
            width: 32px;
            height: 26px;
            font-size: 16px;
            cursor: pointer;
            .cards.inside-tabs.first-tab {
              width: 978px;
              height: 614px;
              position: absolute;
              top: 42px;
              right: -62px;
              z-index: 50;
              ul {
                width: 978px;
                height: 614px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: space-between;
                align-items: flex-start;
                li {
                  width: 234px;
                  height: 300px;
                  background-color: $top-bgc;
                  position: relative;
                  top: 0;
                  transition: 0.5s;
                  flex: 0 0 auto;
                  a {
                    padding: 20px 0;
                    img {
                      width: 160px;
                      margin: 20px 37px 15px 37px;
                    }
                    h3 {
                      font-size: 14px;
                      margin: 0;
                      text-align: center;
                    }
                    p {
                      text-align: center;
                    }
                    .desc {
                      font-size: 12px;
                      margin: 5px auto;
                    }
                    .price {
                      font-size: 14px;
                      color: $mi-orange;
                    }
                  }
                }
                li:hover {
                  top: -5px;
                  box-shadow: 0px 0px 10px #505050;
                  transition: 0.5s;
                }
                > .more {
                  height: 143px;
                  position: relative;
                  a {
                    display: block;
                    padding: 55px 0px;
                    div {
                      width: 94px;
                      height: 40px;
                      margin: 0px 110px 0px 30px;
                      font-size: 18px;
                      display: flex;
                      flex-flow: column nowrap;
                      justify-content: space-between;
                      span {
                        display: block;
                        font-size: 12px;
                      }
                    }
                    i {
                      width: 48px;
                      height: 48px;
                      display: block;
                      font-size: 48px;
                      line-height: 48px;
                      color: $mi-orange;
                      position: absolute;
                      right: 35px;
                      bottom: 47px;
                    }
                    .icon::after {
                      content: "\E615";
                      font-family: mifont;
                      font-style: normal;
                    }
                  }
                }
              }
            }
            .cards.inside-tabs.rest-tab {
              width: 978px;
              height: 614px;
              position: absolute;
              top: 42px;
              right: 0px;
              ul {
                background-color: $main-bgc;
                width: 978px;
                height: 614px;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-content: space-between;
                align-items: flex-start;
                li {
                  width: 234px;
                  height: 300px;
                  margin: 0 14px 14px 0;
                  background-color: $top-bgc;
                  position: relative;
                  top: 0;
                  transition: 0.5s;
                  flex: 0 0 auto;
                  a {
                    padding: 20px 0;
                    img {
                      width: 160px;
                      margin: 20px 37px 15px 37px;
                    }
                    h3 {
                      font-size: 14px;
                      margin: 0;
                      text-align: center;
                    }
                    p {
                      text-align: center;
                    }
                    .desc {
                      font-size: 12px;
                      margin: 5px auto;
                    }
                    .price {
                      font-size: 14px;
                      color: $mi-orange;
                    }
                  }
                }
                li:hover {
                  top: -5px;
                  box-shadow: 0px 0px 10px #505050;
                  transition: 0.5s;
                }
                > .more {
                  height: 143px;
                  position: relative;
                  a {
                    display: block;
                    padding: 55px 0px;
                    div {
                      width: 94px;
                      height: 40px;
                      margin: 0px 110px 0px 30px;
                      font-size: 18px;
                      display: flex;
                      flex-flow: column nowrap;
                      justify-content: space-between;
                      span {
                        display: block;
                        font-size: 12px;
                      }
                    }
                    i {
                      width: 48px;
                      height: 48px;
                      display: block;
                      font-size: 48px;
                      line-height: 48px;
                      color: $mi-orange;
                      position: absolute;
                      right: 35px;
                      bottom: 47px;
                    }
                    .icon::after {
                      content: "\E615";
                      font-family: mifont;
                      font-style: normal;
                    }
                  }
                }
              }
            }
          }
          > li:last-of-type {
            right: 0;
          }
          > li:nth-last-of-type(2) {
            right: 62px;
          }
          > li:nth-last-of-type(3) {
            right: 92px;
          }
          > li:nth-last-of-type(4) {
            right: 122px;
          }
          > li:first-of-type {
            color: $mi-orange;
            padding-bottom: 1px;
            border-bottom: 2px solid;
          }
        }
      }
    }
    .card-box {
      width: 100%;
      height: 628px;
      position: relative;
      .side-img {
        width: 234px;
        height: 614px;
        position: absolute;
        top: 0;
        transition: 0.5s;
        img {
          width: 100%;
          height: 100%;
          margin: 0;
        }
      }
      .side-img:hover {
        top: -5px;
        box-shadow: 0px 0px 10px #505050;
        transition: 0.5s;
      }
      .cards {
        width: 978px;
        height: 614px;
        position: absolute;
        right: 0;
        ul {
          width: 978px;
          height: 614px;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-between;
          align-content: space-between;
          align-items: flex-start;
          li {
            width: 234px;
            height: 300px;
            background-color: $top-bgc;
            position: relative;
            top: 0;
            transition: 0.5s;
            flex: 0 0 auto;
            a {
              padding: 20px 0;
              img {
                width: 160px;
                margin: 20px 37px 15px 37px;
              }
              h3 {
                font-size: 14px;
                margin: 0;
                text-align: center;
              }
              p {
                text-align: center;
              }
              .desc {
                font-size: 12px;
                margin: 5px auto;
              }
              .price {
                font-size: 14px;
                color: $mi-orange;
              }
            }
          }
          li:hover {
            top: -5px;
            box-shadow: 0px 0px 10px #505050;
            transition: 0.5s;
          }
          .more {
            height: 143px;
            position: relative;
            a {
              display: block;
              padding: 55px 0px;
              div {
                width: 94px;
                height: 40px;
                margin: 0px 110px 0px 30px;
                font-size: 18px;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                span {
                  display: block;
                  font-size: 12px;
                }
              }
              i {
                width: 48px;
                height: 48px;
                display: block;
                font-size: 48px;
                line-height: 48px;
                color: $mi-orange;
                position: absolute;
                right: 35px;
                bottom: 47px;
              }
              .icon::after {
                content: "\E615";
                font-family: mifont;
                font-style: normal;
              }
            }
          }
        }
      }
    }
    .card-box.without-tabs {
      width: 234px;
    }
  }
}

.main .main-blocks .box-title .tab > .tab-ul > li {
  transition: 0s 9999999s;
}
.main .main-blocks .box-title .tab > .tab-ul > li > .cards.inside-tabs {
  transition: 0s 9999999s;
  visibility: hidden;
}
.main .main-blocks .box-title .tab > .tab-ul > li > .cards.inside-tabs.first-tab {
  visibility: visible;
}
.main .main-blocks .box-title .tab > .tab-ul:hover > li {
  transition: none;
}
.main .main-blocks .box-title .tab > .tab-ul:hover > li > .cards.inside-tabs{
  visibility: hidden;
  transition: none;
}
.main .main-blocks .box-title .tab > .tab-ul > li:hover > .cards.inside-tabs{
  visibility: visible;
  transition: none;
}
.main .main-blocks:nth-of-type(3) .tab-ul > li:last-of-type {
  display: none;
}
.main .main-blocks:nth-of-type(n + 4) .card-box.without-tabs {
  height: 614px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  .side-img-up, .side-img-down {
    width: 234px;
    height: 300px;
    flex: 0 0 auto;
    position: relative;
    top: 0;
    img {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  }
  .side-img-up:hover, .side-img-down:hover {
    top: -5px;
    box-shadow: 0px 0px 10px #505050;
    transition: 0.5s;
  }
}
